{{#if url}}
	<a href="{{url}}">
{{/if}}
	{{#if title}}
		<h1 class="title">{{title}}</h1>
	{{/if}}
	{{#each data}}
	<div>
		<span class="title">{{@key}}</span>
		<span class="count">{{this}}</span>
	</div>
	{{/each}}
{{#if url}}
	</a>
{{/if}}

